@import "tailwindcss";

@font-face {
  font-family: 'AvenirNext';
  src: url('./AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rig Shaded Bold Face";
  src: url('./Rig-Shaded-Bold-Face.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.rig-shaded {
  font-family: "Rig Shaded Bold Face", sans-serif;
}

body {
  font-family: 'AvenirNext', sans-serif;
}

@layer base {
  :root {
    --primary: #FF6000;
    --secondary: #FFDAD4;
  }
}

/* EF6C27 */
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-in forwards;
}